In [1]:
import pandas as pd
df = pd.read_csv("./FilmReview.csv")

In [2]:
df.head()

,film,user,star,time,content
0,å±±æ‘è€å°¸,åŒæ°§å¤§è˜‘è‡,2014-01-28,2014-01-28,å“ˆå“ˆå“ˆå“ˆå“ˆåˆä¸­æ—¶å€™è°çœ‹è¿‡æ¥ç€å¤©å¤©è¯´å‰§æƒ…å•Šå–‚
1,å±±æ‘è€å°¸,å¤§çˆ·,æ¨è,2012-03-26,é‡æ¸©äº†ä¸€é ä¾ç„¶è§‰å¾—å¾ˆææ€– 14.1.21åˆçœ‹äº†ä¸€é å®Œå…¨ä¸è§‰å¾—ææ€–äº†â€¦â€¦
2,å±±æ‘è€å°¸,ç«å±±å›,åŠ›è,2010-12-10,è†œæ‹œå›½äº§ç»å…¸é¬¼ç‰‡ è†œæ‹œï¼ï¼ï¼
3,å±±æ‘è€å°¸,Kepler 452b,è¿˜è¡Œ,2013-03-15,è¿˜å¯ä»¥ã€‚æœ‰æƒ…äººè¿˜æ˜¯åº”è¯¥ç»ˆæˆçœ·å±å•Š
4,å±±æ‘è€å°¸,Cynthia,æ¨è,2010-02-06,é«˜ä¸­åŒæ¡Œç»™æˆ‘è®²äº†å®Œæ•´çš„æ•…äº‹ï¼Œåæ¥çœ‹çš„è¿˜æ˜¯è§‰å¾—å¯’ã€‚å°‘æœ‰çš„æ¸¯å¼ææ€–ä½³ç‰‡ï¼Œè¿‘å¹´å·²ä¸å¤šè§äº†

### æŸ¥çœ‹æœ‰æ— ç¼ºå¤±å€¼

In [26]:
df.isnull().any()

film       False
user       False
star       False
time       False
content    False
dtype: bool

### å¼‚å¸¸å€¼å¤„ç†

In [33]:
df['star'].value_counts(dropna = False)

åŠ›è            3907
æ¨è            3301
è¿˜è¡Œ            1277
è¾ƒå·®             250
å¾ˆå·®             118
              ...
2008-02-13       1
2009-02-21       1
2006-03-02       1
2007-07-27       1
2009-06-12       1
Name: star, Length: 204, dtype: int64

In [44]:
train = []
train = df['star']

In [50]:
for i in range(len(train)):
    if len(train[i].split('-'))==3:
        train[i] = 'æš‚æœªè¯„ä»·'

In [51]:
df['star'] = train

In [52]:
df['star'].value_counts(dropna = False)

åŠ›è      3907
æ¨è      3301
è¿˜è¡Œ      1277
è¾ƒå·®       250
æš‚æœªè¯„ä»·     220
å¾ˆå·®       118
Name: star, dtype: int64

In [53]:
len(df)

9073

### å»é‡

In [54]:
df.drop_duplicates()

,film,user,star,time,content
0,å±±æ‘è€å°¸,åŒæ°§å¤§è˜‘è‡,æš‚æœªè¯„ä»·,2014-01-28,å“ˆå“ˆå“ˆå“ˆå“ˆåˆä¸­æ—¶å€™è°çœ‹è¿‡æ¥ç€å¤©å¤©è¯´å‰§æƒ…å•Šå–‚
1,å±±æ‘è€å°¸,å¤§çˆ·,æ¨è,2012-03-26,é‡æ¸©äº†ä¸€é ä¾ç„¶è§‰å¾—å¾ˆææ€– 14.1.21åˆçœ‹äº†ä¸€é å®Œå…¨ä¸è§‰å¾—ææ€–äº†â€¦â€¦
2,å±±æ‘è€å°¸,ç«å±±å›,åŠ›è,2010-12-10,è†œæ‹œå›½äº§ç»å…¸é¬¼ç‰‡ è†œæ‹œï¼ï¼ï¼
3,å±±æ‘è€å°¸,Kepler 452b,è¿˜è¡Œ,2013-03-15,è¿˜å¯ä»¥ã€‚æœ‰æƒ…äººè¿˜æ˜¯åº”è¯¥ç»ˆæˆçœ·å±å•Š
4,å±±æ‘è€å°¸,Cynthia,æ¨è,2010-02-06,é«˜ä¸­åŒæ¡Œç»™æˆ‘è®²äº†å®Œæ•´çš„æ•…äº‹ï¼Œåæ¥çœ‹çš„è¿˜æ˜¯è§‰å¾—å¯’ã€‚å°‘æœ‰çš„æ¸¯å¼ææ€–ä½³ç‰‡ï¼Œè¿‘å¹´å·²ä¸å¤šè§äº†
...,...,...,...,...,...
9068,é¥®é£Ÿç”·å¥³,å°ç±³=qdmimi,æ¨è,2007-08-11,æƒ³æ‰“å››ç‚¹äº”æ˜Ÿï¼Œéƒ½å¾ˆåˆ°ä½
9069,é¥®é£Ÿç”·å¥³,Mignon,åŠ›è,2012-12-16,åˆçœ‹ä¸€éã€‚å‘ç°åœ¨æ¸©æ–‡å°”é›…çš„å¤–è¡¨ä¸‹ï¼Œæå®‰å…¶å®æ˜¯ä¸ªâ€œåäººâ€ï¼ˆå¹´è½»çš„æ—¶å€™æ½®çˆ†äº†ä¸æ˜¯ç™½æ½®çš„ï¼‰ã€‚è¡¥è‚¾æ–¹...
9070,é¥®é£Ÿç”·å¥³,seabisuit,åŠ›è,2018-08-05,æå®‰è±†ç“£è¯„åˆ†æœ€é«˜ä¹Ÿæ˜¯å»å¥½è±åå‰åœ¨å°æ¹¾åˆ¶ä½œçš„æœ€åä¸€éƒ¨ï¼Œæœ—é›„çš„è§’è‰²æœ‰è”æƒ³åˆ°å“€ä¹ä¸­å¹´çš„çŸ³æŒ¥ï¼Œä»¿ä½›ä¹Ÿ...
9071,é¥®é£Ÿç”·å¥³,ä¸¹æœ±AIğŸŒµ,æ¨è,2013-11-17,ç¬™æ­Œå½’é™¢è½ï¼Œç¯ç«ä¸‹æ¥¼å°ã€‚
9072,é¥®é£Ÿç”·å¥³,å­¤å²›å½±è€…,æ¨è,2019-10-12,ã€æå®‰â€œå®¶åº­/çˆ¶äº²ä¸‰éƒ¨æ›²â€ä¹‹ä¸‰ã€‘å››æ˜ŸåŠã€‚æ­¤ä¸‰éƒ¨æ›²çš†æ˜¯æå®‰å¯¼æ¼”äº²è‡ªå‚ä¸ç¼–å‰§ï¼Œæ˜æ˜¾å¯è§åœ¨å‰§ä½œå±‚é¢...

In [55]:
df.to_csv("./first9000.csv")